* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.loginfield {
    width: 400px;
    height: 600px;
    background-color: rgb(27, 197, 160);
    border-radius: 30px;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.line {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 25px;
}

.form input {
    box-sizing: border-box;
    outline: none;
    border: 0;
    border-radius: 15px;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}


.input {
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.input input{
    transition: 200ms;
    background-color: white;
    width: 90%;
    height: 30px;
    border-radius: 15px;
    outline: none;
    border: 0;
    box-shadow: 0px 3px 1px rgb(228, 228, 228);
    &:hover {
        box-shadow: 0px 5px 2px rgb(228, 228, 228);
    }
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}


.input {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.input input{
    transition: 200ms;
    background-color: white;
    width: 90%;
    height: 30px;
    border-radius: 15px;
    outline: none;
    border: 0;
    box-shadow: 0px 3px 1px rgb(228, 228, 228);
    &:hover {
        box-shadow: 0px 5px 2px rgb(228, 228, 228);
    }
}

